/* gudea-regular/italic/bold - latin  */
/* @font-face {
  font-display: swap;
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/gudea-v15-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Gudea';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/gudea-v15-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/gudea-v15-latin-700.woff2') format('woff2');
} */
/* button {
	box-shadow:
		inset -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.25),
		inset 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.25);
} */

:root {
  --clamped: clamp(106.25%, 0.6855rem + 1.2903vw, 1.25rem);
  font-size: var(--clamped);
  color-scheme: dark;
}

html {
  height: 100dvh;
}

body {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100dvh;
  color-scheme: dark;
}


.animate-hue {
  animation: hue 60s 15s linear infinite;
}

@keyframes spin {
  from {
    filter: hue-rotate(45deg);
  }

  to {
    filter: hue-rotate(44deg);
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(359deg);
  }
}

div>label {
  text-align: center;
  margin: 0 auto;

  input {
    margin: 0 auto;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: light-dark(rgba(70, 90, 126, 0.4), rgba(70, 90, 126, 0.4)) !important;
  color: fieldtext !important;
}