body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: calc(65vh/1.26);
  height: 100dvh;
  margin: 0 auto;
}

header.hidden {
  height: 4rem;
  width: 100%;
  z-index: 40;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  position: fixed;
  top: -80px;
  transition: 0.3s linear;
}

/* prevent autofill box from having white bg */

input:has(.focus-visible, :focus-visible) {
  &nav>#nav-account.nav-account {
    display: none
  }
}

nav:hover {
  /* #nav-account.nav-account {
      display: none
    } */

  &:focus-within {
    #filters {
      display: flex
    }

  }

}

details[open] {
  summary {
    color: #0000;


    summary>#search-filters {
      color: var(--foreground)
    }
  }
}